@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

main {
    margin: 0;
}

header{
    margin: 0;
    height: 100px;
    background-color: blueviolet;
    box-shadow: 0 0 4px 0 rgba(63, 63, 63, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.companyName{
    display: flex;
    justify-content: space-around;
    max-width: 33.33%;
    max-height: 100%;
}

h1 {
    max-width: 100%;
    max-height: 100%;
    margin: 25px 0;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}

.intro {
    background-image: url("./img/coffeeBar.webp");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.intro > h1, p {
    margin: 0;
    color: white;
}